@use 'sass:map';

$breakpoints: (
  sm: 480px,
  md: 750px,
  lg: 1024px,
  xl: 1280px,
);

@mixin mq-up($name) {
  $value: map.get($breakpoints, $name);

  @if $value {
    @media screen and (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$name}` not found in $breakpoints map.";
  }
}

@mixin mq-down($name) {
  $value: map.get($breakpoints, $name);

  @if $value {
    @media screen and (max-width: ($value - 1)) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$name}` not found in $breakpoints map.";
  }
}
